@import '../style-variables.scss';

._app_container {    
    height: auto;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    // overflow-y: auto;
    // border: 2px groove darkkhaki;
    > footer {           
        width: 100%;      
        position: relative;
        bottom: 0;
        clear: both;
        height: 10rem;
        min-height: 10rem;
        // border: 1px solid red;
    }
}

// when screen is is 500px or less
@media screen and (max-height: 500px) {
    ._app_container {
        > footer {
            bottom: -7rem;
        }
    }
}

.page_container {
    margin: 0 auto;
    padding-top: 0.3rem;
    min-width: 358px;
    max-width: 50rem;
    height: 100%;
    // background-image: url("/splatter.svg");
    // background-size: 30rem 30rem;
    // background-repeat: no-repeat;
    // background-position: calc(50% + 20rem) -30%;
    // border: 1px solid pink;    
}

.space_between__container {
    display: flex;
    justify-content: space-between;
}

._entries_container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: auto;
    max-height: fit-content;
    margin: 0;
    padding: 0.5rem;
    padding-top: 1.5rem;
    // border: 1px solid lemonchiffon;
    > li {
        margin: 0;
        padding: 0;
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
        padding: 0.5rem 0.8rem 0.5rem 0.8rem;
        > a {
            padding: 0;            
            color: inherit;
            time {
                font-size: 0.8rem;
                margin: 0.5rem 0rem 0.5rem;
            }
            > p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                margin: 0.5rem 0rem 0.5rem;
            }
        }
    }
}

@media screen and (min-width: 700px) {
    ._entries_container {
        margin-top: 3rem;
        > li {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

._full_vh_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    color: 'inherit';
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.7);
}

._modal_content_container {
    display: flex;
    flex-direction: column;
    width: 50rem;
    min-width: 358px;
    max-width: 50rem;
    height: auto;    
    padding: 0.5rem;
    padding-bottom: 1rem;
    // border: 1px solid $nice-purple;
}

._display_none_onLandscape {   
    display: flex; 
}

@media screen and (max-height: $landscape) and (orientation: landscape){
    ._modal_content_container:focus-within {
        background-color: transparent;
        > h3 {
            display: none;
        }
        ._display_none_onLandscape {        
            display: none;
        }
    }
    
}


._view_entry {
    min-height: calc(100vh - 4rem);
    height: auto;
    > h1 {
        margin: 3.5rem 0rem 3rem 0rem;
    }       
    padding: 0.5rem;
}


@media screen and (min-width: 700px) {
    ._view_entry {
        padding: 1.5rem;
    }
}

@media screen and (min-height: 900px) {
    ._view_entry {
        min-height: 900px;
    }
}

._hr_display_none {
    display: none;
    margin: 3rem 0.5rem 1rem 0.5rem;
}
