@import './base.scss';

.app_container {
    @extend ._app_container;
    background-color: #f9f9f9;
    color: lighten($dark-gray, 10%);
}


.entries_container {
    @extend ._entries_container;    
    > li {        
        background-color: darken($smoke-white, 0%); 
        border: 1px dashed lighten($nice-magenta, 25%);
        box-shadow: 3px 3px 7px 3px $lightest-gray; 
        transition: box-shadow 3s, color 3s;
        &:hover {
            -webkit-box-shadow: inset -1px 3px 8px 5px lighten($lightest-gray, 2%), 
                                2px 5px 16px 0px $lightest-gray, 
                                5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: inset -1px 3px 8px 5px lighten($lightest-gray, 2%), 
                        2px 5px 16px 0px $lightest-gray, 
                        5px 5px 15px 5px rgba(0,0,0,0);
            // transition: box-shadow 3s, color 3s;
        } 
        h4 {
            color: $nice-magenta;
        }                       
    }    
}

@media screen and (min-width: 640px) {    
    .entries_container {
        > li {
            border: none;
            border-bottom: 1.4px dashed lighten($nice-magenta, 25%);
            box-shadow: none;
        }
    }
}

.modal_content_container {
    @extend ._modal_content_container;
    background-color: white;
}
