@import '../style-variables.scss';

// loading component css from
// http://www.alessioatzeni.com/blog/css3-loading-animation/

#content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin: 10rem auto;
    // background-color: $darkest-gray;
}

.expand {
    width: 100%;
    height: 0.3rem;
    margin: 0.2rem 0;
    background-color: $nice-orange;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(240,99,85,0.7);
    animation: fullexpand 10s ease-out;
    animation-iteration-count: 3;
}

@keyframes fullexpand {
    0% { 
        width: 0px;
    }
    35% {
        background-color: $nice-magenta;
        box-shadow: 0px 0px 10px 1px rgba(199,79,114,0.7);
    }
    70% {
        background-color: $nice-purple;
        box-shadow: 0px 0px 10px 1px rgba(173,98,192,0.7);
    }
    100% {
        width: 100%;
    }
}

.change {
    color: $dark-gray;
    animation: colorchange 3s ease-out;
    animation-iteration-count: infinite;
    text-align: center;
}

@keyframes colorchange {
    0% { 
        color: $dark-gray;
    }
    30% {
        color: $nice-purple;
    }
    70% {
        color: $nice-magenta;
    }
    100% {
        color: $nice-orange;
    }
}

.circle {
    position: relative;
    top: 7rem;
    margin: 0 auto;
    height: 10rem;
    width: 10rem;
    border-left: 3px solid $nice-orange;
    border-radius: 50%;
    animation: rotation 2s ease-out;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.circle:before {
    position: absolute;
    content: ' ';
    border-right: 3px solid $nice-magenta;    
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    animation: rotation 1s ease-out;
    animation-iteration-count: infinite;
}

.circle:after {
    position: absolute;
    content: ' ';
    border-top: 3px solid $nice-purple;    
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    animation: rotation 3s ease-out;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    from { 
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

._loading_full {
    position: fixed;
    top: 0;
    height: 100vh;
    width:  100vw;
    z-index: 200;
}

._loading_container {
    max-width: 50rem;
}
