$darkest-gray: #282828;
$dark-gray: #383838;
$lightest-gray: #f0f0f0;
$nice-orange: #f06355;
$nice-purple: #ad62c0;
$nice-magenta: #c64772;
$smoke-white: #f9f9f9;
$landscape: 250px;


$main-font: 'Helvetica', 'Arial', sans-serif;








