$darkest-gray: #282828;
$dark-gray: #383838;
$lightest-gray: #f0f0f0;
$nice-orange: #f06355;
$nice-purple: #ad62c0;
$nice-magenta: #c64772;
$complementary-magenta-1: #b1c647;
$smoke-white: #f9f9f9;
$landscape: 150px;
$bg-magenta-purple-gradient: linear-gradient(
    to right, 
    #c64772, 
    #c64a85, 
    #c25099, 
    #ba58ad, 
    #ad62c0);


$main-font: 'Helvetica', 'Arial', sans-serif;








