@import './base.scss';



.viewportCenteredForm {
    @extend ._viewportCenteredForm;
    > form {
        background-color: $darkest-gray;
        border: 1px dotted $dark-gray;
        border-left: 1px dotted $nice-purple;
        border-right: 1px dotted $nice-purple;

        > div {
            > input {
                background-color: $darkest-gray; 
                border-bottom: 1px dotted darken($nice-purple, 0%);
                color: $lightest-gray;
            }
            ::placeholder {
                color: darken($lightest-gray, 20%);
            }
        }
        
    }
}

.entries_form {
    @extend ._entries_form;
    background-color: $dark-gray;
    > input, > textarea {
        background-color: darken($dark-gray, 5%);
    }
}
