@import './base.scss';

.viewportCenteredForm {
    @extend ._viewportCenteredForm;
    > h1 {
        color: darken($nice-purple, 20%);
    }
    > form {
        background-color: $smoke-white;
        > div {
            > input {
                background-color: darken($smoke-white, 0%); 
                border-bottom: 1px solid darken($lightest-gray, 15%);        
            }
        }         
    }
}

.entries_form {
    @extend ._entries_form;
    > input, > textarea {
        background-color: $lightest-gray;
    }
}
